/* application ================================ */
* {
  box-sizing: border-box;
}

html {
  webkit-text-size-adjust: 100%;
}

body, div, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

/* stop watch ================================= */
.watch {
  padding-top: 20px;
  padding-left: 20px;
}

.watch_title {
  font-size: 34px;
  text-shadow: 2px 0px 2px #000;
}

.watch_time {
  margin: 60px 0;
  padding-left: 40px;
  letter-spacing: 5px;
  font-size: 28px;
}

.watch_time span {
  font-size: 42px;
  font-weight: 600;
}

.watch_buttons {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.watch_buttons_item {
  margin-right: 10px;
  padding: 20px;
  background-color: lightgray;
  border: solid 1px #000;
  border-radius: 5px;
  font-weight: 700;
  transition: opacity 0.2s 0s ease;
}

.control_enable:hover {
  opacity: 0.8;
}

.watch_buttons_item:last-child {
  margin-right: 0;
}

.control_disable {
  opacity: 0.4;
}